.page {
  color: rgb(8, 8, 8);
  padding: 0 1rem;
  background: #b9d5f1;
  &__box {
    min-height: 60px;
    background: #1e293b;
    margin: 0 -1rem;
    font-size: 36px;
  }
  // &__content {
  //   min-height: calc(100vh - 178px);
  //   border-radius: 10px;
  //   margin-top: -2rem;
  //   background: white;
  //   color: black;
  //   font-size: 2rem;
  //   &-data {
  //     top: 50%;
  //     left: 50%;
  //     transform: translate(-50%, -50%);
  //   }
  // }
}
