.projectList{
    width: max-content;
    margin: auto;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    font-size: 50%;;
}
.header{
    padding: 1rem;
    text-align: center;
    background-color: rgb(238, 238, 252);
}
.allClient{
    margin-right: 2rem;
}
.addProject{
    margin-left: 2rem;
}