<div class="header">
  <button type="button" class="btn btn-primary allClient" 
      (click)="selectedClient = 'Select Client'"><!-- allstatus = !allstatus"
      [ngClass]="allstatus ? 'btn-primary':'btn-outline-primary'">-->
          All Clients
  </button>

  <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="clientList" ngbDropdownToggle>
          {{selectedClient}}
      </button>

      <div ngbDropdownMenu aria-labelledby="clientList">
          <button ngbDropdownItem *ngFor="let project of projects | unique"
            (click)="selectedClient = project.customer_name">
              {{project.customer_name}}
          </button>
      </div>
  </div>
  
  <button type="button" class="btn btn-primary float-right" (click)="open(addProject)">
      Add Project
  </button>
</div>

<hr>
<table class="table table-striped projectList">
    <thead>
      <tr>
        <th scope="col">Project ID</th>
        <th scope="col">Project Name</th>
        <th scope="col">Client Name</th>
        <th scope="col">Start Date</th>
        <th scope="col">Status</th>
        <th scope="col">POD ID</th>
      </tr>
    </thead>
    <tbody *ngFor="let project of projects | filter: selectedClient">
        <tr>
          <th scope="row"><a routerLink="/employees">{{project.project_id}}</a></th>
          <td>{{project.project_name}}</td>
          <td>{{project.customer_name}}</td>
          <td>{{project.start_date}}</td>
          <td>{{project.status}}</td>
          <td>{{project.pod_id}}</td>
          <td><button class="btn btn-xs btn-outline-primary" (click)="open(editProject)">Edit</button></td>
        </tr>
    </tbody>
  </table>
<hr>



<ng-template #addProject let-modal>
  <div class="modal-header">
      <h4 class="modal-title" 
          id="modal-basic-title">
          Add a New Project
      </h4>
      <button type="button" class="close"
              aria-label="Close" (click)=
              "modal.dismiss('Cross click')">

          <span aria-hidden="true">
              ×
          </span>
      </button>
  </div>
  <div class="modal-body">
      <form>
          <div class="form-group">
              <label for="p_id">
                  Project ID
              </label>
              <div class="input-group">
                  <input id="p_id" 
                      class="form-control"  
                      name="p_id">
              </div>

              <label for="p_name">
                  Project Name
              </label>
              <div class="input-group">
                  <input id="p_name" 
                      class="form-control"  
                      name="p_name">
              </div>

              <label for="c_name">
                  Client Name
              </label>
              <div class="input-group">
                  <input id="c_name" 
                      class="form-control"  
                      name="c_name">
              </div>

              <label for="s_date">
                  Start Date
              </label>
              <div class="input-group">
                    <input id="s_date" 
                        class="form-control" 
                        placeholder="yyyy-mm-dd" 
                        name="s_date" ngbDatepicker
                        #dp="ngbDatepicker">
  
                    <div class="input-group-append">
                        <button class="btn 
                            btn-outline-secondary calendar"
                            (click)="dp.toggle()"
                            type="button">
                        </button>
                    </div>
              </div>

              <label for="status">
                  Status
              </label>
              <div class="input-group">
                  <input id="status" 
                      class="form-control"  
                      name="status">
              </div>

              <label for="pod_id">
                  POD ID
              </label>
              <div class="input-group">
                  <input id="pod_id" 
                      class="form-control"  
                      name="pod_id">
              </div>
          </div>
      </form>
  </div>
  <div class="modal-footer">
      <button type="button" 
          class="btn btn-outline-dark" 
          (click)="createProject(); modal.close('Save click')">
          Save
      </button>
  </div>
</ng-template>


<ng-template #editProject let-modal>
  <div class="modal-header">
      <h4 class="modal-title" 
          id="modal-basic-title">
          Edit Project Details
      </h4>
      <button type="button" class="close"
              aria-label="Close" (click)=
              "modal.dismiss('Cross click')">

          <span aria-hidden="true">
              ×
          </span>
      </button>
  </div>
  <div class="modal-body">
      <form>
          <div class="form-group">
              <label for="p_id">
                  Project ID
              </label>
              <div class="input-group">
                  <input id="p_id" 
                      class="form-control"  
                      name="p_id"
                      placeholder=''>
              </div>

              <label for="p_name">
                  Project Name
              </label>
              <div class="input-group">
                  <input id="p_name" 
                      class="form-control"  
                      name="p_name">
              </div>

              <label for="c_name">
                  Client Name
              </label>
              <div class="input-group">
                  <input id="c_name" 
                      class="form-control"  
                      name="c_name">
              </div>

              <label for="s_date">
                  Start Date
              </label>
              <div class="input-group">
                    <input id="s_date" 
                        class="form-control" 
                        placeholder="yyyy-mm-dd" 
                        name="s_date" ngbDatepicker
                        #dp="ngbDatepicker">
  
                    <div class="input-group-append">
                        <button class="btn 
                            btn-outline-secondary calendar"
                            (click)="dp.toggle()"
                            type="button">
                        </button>
                    </div>
              </div>

              <label for="status">
                  Status
              </label>
              <div class="input-group">
                  <input id="status" 
                      class="form-control"  
                      name="status">
              </div>

              <label for="pod_id">
                  POD ID
              </label>
              <div class="input-group">
                  <input id="pod_id" 
                      class="form-control"  
                      name="pod_id">
              </div>
          </div>
      </form>
  </div>
  <div class="modal-footer">
      <button type="button" 
          class="btn btn-outline-dark" 
          (click)="modal.close('Save click')">
          Save
      </button>
  </div>
</ng-template>


