<!-- <div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-1 " style="color: white;"></div>
  <!- <div class="page__content shadow p-3 position-relative"> -->
    <!-- <div class="page__content-data position-absolute text-center">
      

    </div>
  
</div> 
</div>  -->

<!-- <div class="overview">
  <div style="text-align:center; margin-bottom: 15px;">
    <button (click)='create()'>Add New</button>
  </div>
  
  <div class="overview-head">
    <div class="overview-cell center" style="padding: 10px;">POD name</div>
    <div class="overview-cell center" style="padding: 10px;">POD Id </div>
    <div class="overview-cell center" style="padding: 10px;">Manager ID</div>
    <div class="overview-cell center" style="padding: 10px;">Manager Name</div>
    <div class="overview-cell center" style="padding: 10px;"></div>
    <div class="overview-cell center" style="padding: 10px;"></div>
  </div> 
 

  <div class="overview-row" *ngFor = "let emp of pod"> 
    <div class="overview-cell center">{{ emp.p_name }}</div>
    <div class="overview-cell center">{{ emp.pod_id }}</div>
   <div class="overview-cell center">{{ p.pod_id}}</div> 
    <div class="overview-cell center">{{ emp.manager_id}}</div>
    <div class="overview-cell center">{{ emp.manager.e_name}}</div>
    <div class="overview-cell center">
     <button style="margin-right: 10px;"> <a routerLink="details/{{ emp.pod_id }}">Details</a></button>
     <button> <a routerLink="/home/editpod/{{ emp.pod_id }}">Edit</a></button>
    </div>
  </div>
</div> -->
<div class="podviewmain">
  <button class="btn btn-primary add" (click)='create()'>Add New</button>
  <table class="table table-striped podview">
    <thead>
      <tr class="theader">
        <th scope="col">POD Name</th>
        <th scope="col">POD ID</th>
        <th scope="col">Manager ID</th>
        <th scope="col">Manager Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let emp of pod">
        <td>{{ emp.p_name }}</td>
        <td>{{ emp.pod_id }}</td>
        <td>{{ emp.manager_id}}</td>
        <td>{{ emp.manager.e_name}}</td>
        <button class="btn btn-sm btn-primary"><a routerLink="details/{{ emp.pod_id }}">Details</a></button>
        <button class="btn btn-sm btn-primary"> <a routerLink="/home/editpod/{{ emp.pod_id }}">Edit</a></button>
      </tr>
    </tbody>
  </table>
</div>