<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Employees</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-absolute text-center">
      <table class="table table-striped projectList">
        <thead>
          <tr>
            <th scope="col">Employee ID</th>
            <th scope="col">Employee Name</th>
            <th scope="col">POD ID</th>
            <th scope="col">Manager ID</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>