<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-1 " style="color: white;">Project View of {{project[0].customer_name}}</div>
    <!-- <div class="page__content shadow p-3 position-relative"> -->
      <div class="page__content-data position-absolute text-center">
        <div class="overview">
            <div style="text-align:center; padding: 15px; ">
                <button (click)='create()'>Add New</button>
              </div>
            
            <div class="overview-head">
              <div class="overview-cell center" style="padding: 10px;">PROJECT ID</div>
              <div class="overview-cell center" style="padding: 10px;">PROJECT NAME</div>
              <!-- <div class="overview-cell center" style="padding: 10px;">POD ID</div> -->
              
              <div class="overview-cell center" style="padding: 10px;">POD-IN-CHARGE</div>
              <div class="overview-cell center" style="padding: 10px;">START DATE</div>
              <div class="overview-cell center" style="padding: 10px;">STATUS</div>
              <div class="overview-cell center" style="padding: 10px;"></div>
              <div class="overview-cell center" style="padding: 10px;"></div>
            </div> 
           
          
            <div class="overview-row" *ngFor = "let p of project"> 
              <div class="overview-cell center">{{ p.project_id }}</div>
              <div class="overview-cell center">{{ p.project_name }}</div>
              <!-- <div class="overview-cell center">{{ p.pod_id}}</div> -->
              <div class="overview-cell center">{{ p.pod_id}}</div>
              <div class="overview-cell center">{{ p.start_date}}</div>
              <div class="overview-cell center">{{ p.status}}</div>
              <div class="overview-cell center">
               <button style="margin-right: 10px;"> <a routerLink="/projectsof/{{p.project_id}}">Details</a></button>
               <!-- <button> <a routerLink="/home/editpod/{{ emp.pod_id }}">Edit</a></button> -->
              </div>
              
          
            </div>
              
                
          </div>
          
      </div>
    <!-- </div> -->
  </div>
<!-- <h3 style="text-align:center;"></h3> -->

 
  