
<!-- <div style="text-align: right">
    <button (click)='create()'>Add New</button>
  </div> -->
  <!-- <h3 style="text-align:center;">PROJECT ID: {{empproject[0].project_id}}</h3> -->
  <div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-1 " style="color: white;">Project ID: {{empproject[0].project_id}}</div>
    <!-- <div class="page__content shadow p-3 position-relative"> -->
      <div class="page__content-data position-absolute text-center">
        <div class="overview">
          <div ngbDropdown class="d-inline-block">
            <button style="margin:1rem" class="btn btn-outline-primary" id="empList" ngbDropdownToggle>
                Add New
            </button>
            
            <div ngbDropdownMenu aria-labelledby="empList">
                <button (click)="open(addEmpPop)" ngbDropdownItem
                 *ngFor="let emp of employees | filter: empproject[0].e.pod_id"
                 (click)="selectedEmp = emp">
                    {{emp.e_name}}
                </button>
            </div>
          </div>

          
          <ng-template #addEmpPop let-modal>
            <div class="modal-header">
                <h4 class="modal-title" 
                    id="modal-basic-title">
                    Add a New Employee
                </h4>
                <button type="button" class="close"
                        aria-label="Close" (click)=
                        "modal.dismiss('Cross click')">
          
                    <span aria-hidden="true">
                        ×
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label >
                            Employee ID
                        </label>
                        <input
                            
                            id="empadd.e_id" 
                            class="form-control"  
                            name="empadd.e_id" 
                            value={{selectedEmp.e_id}}>
                        
                          <label>
                              Project ID
                          </label>
                          <input
                              id="empadd.project_id" 
                              class="form-control"  
                              name="empadd.project_id" 
                              value={{empproject[0].project_id}}
                              >
                        
                                            
                                            
                        <label>
                            Working Hours 
                        </label>
                        <input id="empadd.work_hours" 
                                class="form-control"  
                                name="empadd.work_hours" [(ngModel)]="empadd.work_hours">
                      </div>
          
                </form>
            </div>
            <div class="modal-footer">
               
                <button 
                    (click)='empadd.e_id=selectedEmp.e_id;empadd.project_id=empproject[0].project_id;addEmp()'  
                    class="btn btn-outline-dark" 
                    (click)="modal.close('Save click')">
                    Save
                </button>
            </div>
          </ng-template>
    
            <div class="overview-head">
              <div class="overview-cell center" style="padding: 10px;">Employee ID</div>
              <div class="overview-cell center" style="padding: 10px;">Employee Name</div>
              <div class="overview-cell center" style="padding: 10px;">POD-ID</div>
              <div class="overview-cell center" style="padding: 10px;">Working Hours</div>
              <div class="overview-cell center" style="padding: 10px;"></div>
              <!-- <div class="overview-cell center" style="padding: 10px;">STATUS</div>
              
              <div class="overview-cell center" style="padding: 10px;"></div> -->
            </div> 
           
          
            <div class="overview-row" *ngFor = "let ep of empproject"> 
              <div class="overview-cell center" style="padding: 10px;text-align:center;">{{ ep.e_id }}</div>
              <div class="overview-cell center" style="padding: 10px;text-align:center;">{{ ep.e.e_name }}</div>
              <!-- <div class="overview-cell center">{{ p.pod_id}}</div> -->
              <div class="overview-cell center" style="padding: 10px;text-align:center;">{{ ep.e.pod_id}}</div>
              <div class="overview-cell center" style="padding: 10px;text-align:center;">{{ ep.work_hours}}</div>
              <!-- <div class="overview-cell center">{{ p.status}}</div> -->
              <div class="overview-cell center" style="padding: 10px;text-align:center;">
               <button style="margin-right: 10px;"> <a routerLink="/emp/employeelist/{{ ep.e_id }}">Details</a></button>
               
               <!-- <button> <a routerLink="/home/editpod/{{ emp.pod_id }}">Edit</a></button> -->
              </div>
              
          
            </div>
              
                
          </div>
        
          
      </div>
    <!-- </div> -->
  </div>
  

